.btn-transparent {
  background-color: transparent;
}

.btn-close {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  margin: 5px;
}

.smallLogo {
  height: 60px;
}

.modalTitle {
  color: blue;
}
.modalPrompt {
  color: darkblue;
}

.fullwidth {
  width: 100%
}
.padded {
  padding: 2rem;
}

/* .smallScreen {
  display: none;
} */

/* .narrowScreen {
  display: none !important;
}

.wideScreen {
  display: block;
}

.vwideScreen {
  display: block;
} */

.table {
  width: 100%;
}

@media screen and (max-width: 1027px) {
  .narrowScreen {
    display: none !important;
  }
}

@media screen and (min-width: 1028px) {
  .wideScreen {
    display: none !important;
  }
}


@media screen and (max-width: 1539px) {
  .vwideScreen {
    display: none !important;
  }
}


@media screen and (min-width: 768px) {
  .smallScreen {
    display: none !important;
  }
}
