
.page-enter-active, .page-leave-active {
	transition: all 0.5s;
}

.page-enter, .page-leave-active {
	opacity: 0;
}

#hideMe {
    -moz-animation: dynamicHide 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: dynamicHide 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: dynamicHide 0s ease-in 5s forwards;
    /* Opera */
    animation: dynamicHide 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes dynamicHide {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes dynamicHide {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
