// copy this into .env and adjust secret variables as required (the .env file, and .env.production will NOT be stored in git, but this one will...)
// note: .env.NODE_ENV file is also stored in git (except .env.production) and will override any variables below... it is meant for env specific variables...

APP_KEY=******
CACHE_VIEWS=false
DB_CONNECTION=mysql
DB_PORT=3306
DB_USER=tester
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

CODE_VERSION=0.7
EMAIL_USER=support@idvpn.ca
EMAIL_PASSWORD=******
DB_DATABASE=**for migration/seeding**
DB_PASSWORD=******
IDVPN_SECRET=******
