# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

client/src/custom
client/src/assets/custom
test/custom
custom/*

# Plugin files 
Makefile
.finish.sh

start/custom/routes.js
client/src/router/index.js
client/src/config.js
client/src/config.private.js

public

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories
.history
.idea

*** Replace / Link server files ***

*** Replace / Link client files ***


start/custom/inviteRoutes.js
start/custom/routes.default.js
start/custom/sparcRoutes.js
start/custom/eventRoutes.js
start/custom/routes.js

test/custom/functional/test.js

database/migrations/1563136365022_user_setting_schema.js
database/migrations/1566863762411_login_schema.js
database/migrations/1533856531548_event_schema.js
database/migrations/1527305364897_location_schema.js
database/migrations/1585853124731_delivery_schema.js
database/migrations/1537305333051_attendance_filter_schema.js
database/migrations/1533856543201_interest_schema.js
database/migrations/1585853124729_request_schema.js
database/migrations/1585853124730_offer_schema.js
database/migrations/1586115974756_good_schema.js
database/migrations/1543264637045_agent_schema.js
database/migrations/1536216589987_feature_schema.js
database/migrations/1536362296377_user_preference_schema.js
database/migrations/1533863745147_skill_schema.js
database/migrations/1575853124735_contact_schema.js
database/migrations/1534723994278_invitation_schema.js
database/migrations/1533264522872_organization_schema.js
database/migrations/README.txt
database/migrations/1537305333050_invite_filter_schema.js
database/migrations/1536362837062_user_interest_schema.js
database/migrations/1533856558578_event_interest_schema.js

database/seeds/ProductionSeeder.js
database/seeds/LocationSeeder.js
database/seeds/UserSeeder.js
database/seeds/TestSeeder.js
database/seeds/SkillSeeder.js
database/seeds/sparcEventInterest.js
database/seeds/FeatureSeeder.js
database/seeds/UserPreferenceSeeder.js

database/test-seeds/ProductionSeeder.js
database/test-seeds/LocationSeeder.js
database/test-seeds/UserInterestSeeder.js
database/test-seeds/UserSeeder.js
database/test-seeds/EventSeeder.js
database/test-seeds/TestSeeder.js
database/test-seeds/SkillSeeder.js
database/test-seeds/InvitationSeeder.js
database/test-seeds/InterestSeeder.js
database/test-seeds/EventInterestSeeder.js
database/test-seeds/FeatureSeeder.js
database/test-seeds/UserPreferenceSeeder.js

app/Controllers/README.md
app/Controllers/Http/FilterController.js
app/Controllers/Http/InterestController.js
app/Controllers/Http/ContactController.js
app/Controllers/Http/TraceController.vue
app/Controllers/Http/RequestController.js
app/Controllers/Http/EventController.js
app/Controllers/Http/UserInterestController.js

app/Models/Interest.js
app/Models/EventInterest.js
app/Models/Request.js
app/Models/Event.js
app/Models/InviteFilter.js
app/Models/Delivery.js
app/Models/AttendanceFilter.js
app/Models/Offer.js
app/Models/README.md
app/Models/Contact.js
app/Models/Location.js


custom/layouts/PageLayout.vue
custom/layouts/Footer.vue
custom/layouts/PrivateLayout.vue
custom/layouts/Header.vue

custom/components/MatchRequest.vue
custom/components/PublicHeader.vue
custom/components/Dataset.vue
custom/components/InvitationCount.vue
custom/components/MapEvents.vue
custom/components/Host.vue
custom/components/Filters.vue
custom/components/PublicFooter.vue
custom/components/Login.vue
custom/components/Event.vue
custom/components/UserMenu.vue
custom/components/User.vue
custom/components/Events.vue
custom/components/Examples.vue
custom/components/Register.vue
custom/components/ContactSummary.vue
custom/components/ContactTraceForm.vue
custom/components/Interests.vue
custom/components/Docs.vue
custom/components/HelpForm.vue
custom/components/Request.vue
custom/components/CosineLogo.vue

custom/pages/Host.vue
custom/pages/CreateEvent.vue
custom/pages/Dashboard.vue
custom/pages/Login.vue
custom/pages/Support.vue
custom/pages/Public.vue
custom/pages/Deliveries.vue
custom/pages/Events.vue
custom/pages/Interests.vue
custom/pages/Data.vue
custom/pages/ContactUs.vue
custom/pages/CVAbout.vue
custom/pages/Profile.vue
custom/pages/GettingStarted.vue
custom/pages/Help.vue
custom/pages/About.vue
custom/pages/Admin.vue
custom/pages/Construction.vue

custom/mixins/DataLoader.vue
custom/mixins/MapMixin.vue
custom/mixins/RequestMixin.vue


config.private.default.js

config.gmaps.js

config.js

main.js

assets/custom/css/custom.css
assets/custom/css/page.css
assets/custom/css/components.css
assets/custom/css/colours.css
assets/custom/images/alone-sunset.jpg
assets/custom/images/venn.gif
assets/custom/images/cosine.logo.png
assets/custom/images/sine.svg
assets/custom/images/logo.svg

router/index.default.js
router/index.js
router/custom.js

