img.fadeIn, div.fadeIn {
  display: inline-block;

  animation-name: FadeIn;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-delay: 1s;

  height: 70px;
  width: 140px;
}

img.fadeOut, div.fadeOut {
  display: inline-block;

  animation-name: FadeOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-delay: 1s;

  height: 70px;
  width: 140px;
}

img.spin, div.spin{
  display: inline-block;

  animation: turn 2s linear forwards 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transform: rotateX(180deg);

  height: 70px;
  width: 140px;
}

img.mirror, div.mirror {
  display: inline-block;

  animation: rturn 2s linear forwards 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transform: rotateX(0deg);

  height: 70px;
  width: 140px;
}

@keyframes turn {
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rturn {
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes slide {
  100% {
    left: 700px;
  }
}
@keyframes FadeInOut {
  0% {
    opacity:1;
  }

  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
@keyframes FadeOutIn {
  0% {
    opacity:0;
  }

  45% {
    opacity:0;
  }
  55% {
    opacity:1;
  }
  100% {
    opacity:1;
  }
}
@keyframes FadeIn {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}
@keyframes FadeOut {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

div.logo {
  display: none;
}

@media screen and (min-width: 920px) {
  div.logo {
    display: inline-block;
    height: 70px;
    width: 140px;
  }
}
