.mainMenuBar {
  width: 100%;
  height: 100%;
}
.mainMenu {
  padding-right: 5rem;
}
/*** Customize Header / Footer Settings: ***/
.page {
 /*margin-top: -20px;
 */
  height: 100%;
  width: 100%;
}
.myHeader {
  color: grey;
  background-color: white;
  padding: 25px 50px 0px 40px;
}
.myFooter {
  padding: 20px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mySubheader {
  background-color: white;
  width: 100%;
  z-index: 1;
}
.full-screen {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
}
.tabBar {
  text-align: center;
}
/* Responsive - mobile first */
.myBody {
  min-height: 400px;
}
.myHeader {
  height: 150px;
}
.mySubheader {
  height: 0px;
}
.myFooter {
  height: 170px;
}
/* @media screen and (min-width: 768px) {
  .myBody {
    min-height: $min-height;
    // min-height: calc(100vh - #{
     $header-height
   }
    - #{
     $subheader-height
   }
    - #{
     $footer-height
   }
   );
 }
  .myHeader {
    height: $header-height;
 }
  .mySubheader {
    height: $subheader-height;
 }
  .myFooter {
    height: $footer-height;
 }
}
*/
.myBody {
  min-height: calc(100vh - 150px - 0px - 170px);
  margin: 0px;
  width: 100%;
  padding: 0px;
}
@media screen and (max-height: 600px) {
  .myBody {
    min-height: 300px;
 }
}
.myBodyContent {
  margin: 0px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.bodyContent {
  padding: 3rem;
}
.myHeaderContent {
  padding: 0px;
  display: flex;
}
.myFooterContent {
  width: 100%;
}
.header-section {
  flex: 1;
  text-align: left;
  padding: 1rem;
}
